footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: $color-white;
  background-color: $color-primary;
  width: 100%;
  padding: 1rem 0;

  p {
    text-align: center;
  }

  @include respond(phone) {
    align-items: center;
    flex-direction: row;
  }
}
