footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: $color-white;
  background-color: $color-grey-dark;
  width: 100%;

  div {
    width: 30%;
    text-align: center;

    @include respond(tab-port) {
      margin: 0 auto;
      width: 90%;
    }
  }

  @include respond(tab-port) {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
