header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color-white;
  z-index: 100;

  img {
    width: 8rem;
    margin: 1rem;
    box-shadow: none;
  }

  .navlinks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;

    a {
      text-decoration: none;
      padding: 1rem;
      transition: all 0.2s ease;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.6rem;

      &:hover {
        color: $color-primary;
        font-weight: 400;
        // text-decoration-color: $color-black;
      }
    }
  }

  .contact-btn {
    padding: 10px;
    text-decoration: none;
    height: fit-content;
    transition: all 0.2s ease;
    min-width: fit-content;
    margin-right: 0.5rem;
  }
}
