header {
  width: 100vw;

  .infobar {
    background-color: $color-primary;
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    padding: 0 5rem;
  }

  .topnav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5rem;
    background-color: $color-white;
    color: $color-grey;
    z-index: 100;

    img {
      margin: 1rem;
      box-shadow: none;
      width: 20%;
      height: auto;
      object-fit: cover;
    }

    .navlinks {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      width: 50%;

      a {
        text-decoration: none;
        padding: 1rem;
        transition: all 0.2s ease;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.6rem;

        &:hover {
          color: $color-primary;
          font-weight: 400;
          // text-decoration-color: $color-black;
        }
      }
    }

    .contact-btn {
      border: 2px solid $color-primary;
      border-radius: 2.5rem;
      padding: 1.2rem;
      text-decoration: none;
    }
  }
}