.galleryContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    .thumbnails {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 5rem;

        .thumbnail {
            position: absolute;
            height: 30rem;
            width: 20rem;
            transition: all .5s ease-in-out;

            img {
                border-radius: 5px;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
            
            &.index1 {
                top: 0;
                right: 0;
                height: 100vh;
                width: 100vw;
                z-index: -2;
            }
            
            &.index2 {
                right: -50%;
                bottom: 5%;
                z-index: 0;
                display: none;
            }
            
            &.index3 {
                right: -20%;
                bottom: 5%;
                z-index: 0;
            }
            
            &.index4 {
                right: 5rem;
                bottom: 5%;
                z-index: 3;
            }

            &.index5 {
                right: 30rem;
                bottom: 5%;
                z-index: 2;
            }
        }


        .index0 {
            bottom: 0;
            right: 0;
            height: 100vh;
            width: 100vw;
            z-index: -1;

            img {
                border-radius: 5px;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }

    .next {
        @include center;
        bottom: 3rem;
        background-color: white;
        padding: 2rem;
        color: black;
        font-size: 2rem;
        cursor: pointer;
        z-index: 10;
    }
}
