body {
  font-family: "Varela Round", sans-serif;
  line-height: 1.5;

  h1,
  h2 {
    font-size: 4rem;
    // color: $color-white;
  }

  h3,
  h4 {
    font-size: 3rem;
  }


  p,
  a {
    font-size: 2rem;
    
  }

  button,
  input {
    font-family: "Varela Round", sans-serif;
  }
}
